<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">晖晖小说</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/bookClass/1">首页</a></li>
            <li><a href="/bookClass/1">玄幻魔法</a></li>
            <li><a href="/bookClass/2">武侠修真</a></li>
            <li><a href="/bookClass/3">都市言情</a></li>
            <li><a href="/bookClass/4">历史军事</a></li>
            <li><a href="/bookClass/5">侦探推理</a></li>
            <li><a href="/bookClass/6">网游动漫</a></li>
            <li><a href="/bookClass/7">科幻小说</a></li>
            <li><a href="/bookClass/8">恐怖灵异</a></li>
            <li><a href="/bookClass/9">散文诗词</a></li>
            <li><a href="/bookClass/10">其他</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->


